A:link    { color: #333333; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:none;}
A:visited { color: #333333; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:none;}
A:active  { color: #333333; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:none;}
A:hover   { color: #BEA12C; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:underline;}

A.user:link    { color: #333333; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:underline;}
A.user:visited { color: #333333; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:underline;}
A.user:active  { color: #333333; font-family: "µ¸¿ò", "±¼¸²"; font-size: 12px; text-decoration:underline;}

td	        {font-family:µ¸¿ò; font-size:12px; color:#333333; line-height:18px;}
.title 		{font-family:µ¸¿ò; font-size:12pt; color:#000000; line-height:22px;}

/* Form css */
.text		{ font-family:µ¸¿ò; font-size:8pt; color:#333333;}
.textarea	{ font-family:µ¸¿ò; font-size:8pt; color:#333333;}
.password	{ font-family:µ¸¿ò; font-size:8pt; color:#333333;}
.file		{ font-family:µ¸¿ò; font-size:8pt; color:#333333;}
.select		{ font-family:µ¸¿ò; font-size:8pt; color:#333333;}
